services:
  db:
    image: postgres
    restart: always
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: "local"
      POSTGRES_PASSWORD: "secret"
      POSTGRES_DB: "calorie_tracker"
    volumes:
      - pgdata:/var/lib/postgresql

volumes:
  pgdata: