/*
   CSS styling examples for the Vaadin app.

   Visit https://vaadin.com/docs/styling/application-theme/ for more information.
*/

/* Example: CSS class name to center align the content . */
.centered-content {
  margin: 0 auto;
  max-width: 250px;
}

/* Example: the style is applied only to the textfields which have the `bordered` class name. */
vaadin-text-field.bordered::part(input-field) {
  box-shadow: inset 0 0 0 1px var(--lumo-contrast-30pct);
  background-color: var(--lumo-base-color);
}

.grid-layout {
    display: grid;
    gap: 1rem;
    width: 100%;

    & *:nth-child(even) {
        text-align: right;
    }
}

.meal-card {
    background-color: var(--lumo-contrast-5pct);
    box-shadow: var(--lumo-box-shadow-xs);
}